
<div class="container">
    <h2>Please login with google.</h2>
    <div id="g_id_onload"
    data-client_id="992723256343-r0god7dhkra14c4i0ki741985c31movm.apps.googleusercontent.com"
    data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:5000/api/login"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</div>