.container{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgba(95,0,103,1);

}

h2{
    color: #DDCBE7;
}